<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>micro desafio</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/b5b4548719.js" crossorigin="anonymous"></script>
</head>
<body class="login">
    <header>
        <section>
            <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
            <div class="barra-de-busqueda">
                <form action="">
                    <input type="text" placeholder="Buscar porductos">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>   
            <P>
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </P> 
        </section>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="/">
            <div>
                <input type="text" name="user" placeholder="Nombre de usuario">
                <span>usuario no encontrado</span>
            </div>
            <div>
                <input type="password" name="password" placeholder="Contraseña">
                <span>Contraseña incorrecta</span>
            </div>
            <div>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <div>
            <section>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </section>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>
